body{
    background-color: gray;
}

h1{
    text-align: center;
    color: white;
}

#text{
    position: absolute;
    left: calc(50% + 25vmin);
    top: 50%;
    font-size: clamp(1rem, 1vw, 2rem);
    text-align: center;
    background-color: black;
    color: white;
    border: 2px solid white;
    z-index: 1;
}

#text, #nextShapeContainer{
    transform: translateY(-50%);
    width: 20vmin;
    height: 80vmin;
}

#container , #placingContainer{
    width: 40vmin;
    height: 80vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#container{
    background-color: black;
    border: 2px solid white;
}

#nextShapeContainer{
    z-index: 2;
    position: relative;
    height: 10vmin;
    left: 50%;
    top: 15%;
}

#placingContainer{
    position: absolute;
    margin: 2px;
    opacity: 0.2;
}

#pauseMenu{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: red;
    font-size: xx-large;
    display: none;
}

.cell{
    border: 1px solid white;
    position: absolute;
    border-radius: 20% 20% 20% 20%;
}

.test{
    position: absolute;
    background-color: red;
    border: 1px solid black;
    margin: -1 -1;
}